<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Products App", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><%= link_to "Productos", products_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administrar <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Categorías", categories_path %></li>
            <li><%= link_to "Productos", products_path %></li>
         </ul>
       </li>
       <li><a href="#about">About</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Idioma     <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "English", locale: "en" %></li>
          <li><%= link_to "Español", locale: "es-MX" %></li>
        </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if false %>
          <li>User name</li>
          <li>Sign Out</li>
        <% else %>
          <li>Sign up</li>
          <li>Sign In</li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
